.box {
  border: 2px solid rgb(78, 7, 7);
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  background: #e9e3e3;
}

#title {
  font-size: 2rem;
  text-decoration: underline;
  color: chocolate;
}

.info {
  color: #170fa3;
  font-size: 1rem;
}

.text {
  font-size: 1.05rem;
}

.btn {
  background: royalblue;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: navy;
}
